*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration:none;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('openBook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flashcard {
  text-align: center;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 20px;
  font-size: 16px;
  font-style: bold;
  font-weight: 600;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border-radius: 0.5rem;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  background-image: linear-gradient(to bottom, rgb(186, 217, 243), #5c5975);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#definition {
  font-size: 18px;
  padding: 10px;
}
