*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration:none;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('openBook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section{
  padding: 50px 100px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  font-size: 24px;
  font-style: bold;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: #4d10be;
  color: #f3e84d;
  padding: 15px 100px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  margin: 0 auto;
}

.sidebar {
  margin: 20px;
}

.flashcard {
  text-align: center;
}

.input-container {
  margin: 20px;
  width: 600px;
  border-radius: 8px;
  background:rgb(200, 216, 250);
  font-weight: 600;
  font-size: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border-radius: 2px;
}

button {
  padding: 8px 20px;
  font-size: 16px;
  font-style: bold;
  font-weight: 600;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border-radius: 2rem;
  border-color:aqua;
  margin: 10px;
}

button:hover {
  background-color: rgb(220, 250, 84);
  color: blue;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 600px;
  height: 300px;
  background-image: linear-gradient(to bottom, rgb(200, 216, 250), rgb(148, 160, 185));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 28px;
  font-style: bold;
  font-weight: 600;
  color: rgb(41, 40, 40);
  text-shadow: 2px 2px, rgb(17, 17, 128);
  font-family: Georgia, italic;
  border: 2px solid rgb(200, 214, 150);
  outline: rgb(166, 177, 177) solid 2px;
}

#definition {
  font-size: 28px;
  text-shadow: #4d10be;
  padding: 10px;
  font-family: Georgia, italic;
}
